*{
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}

body{
	font-family: "Microsoft YaHei";
	color: #14191e;
}

.main{
	width:560px;
	height:420px;
	margin: 30px auto;
	overflow: hidden;
	position: relative;
}

.banner{
	width:560px;
	height:420px;
	overflow: hidden;
	position: relative; /*banner-slide相对于banner定位*/
}

.banner-slide{
	width:560px;
	height:420px;
	position: absolute;
	background-repeat: no-repeat; /*不平铺*/
	display: none;
}

.slide-active{
	display: block;
}

.slide1{
	background-image: url("../img/bg1.jpg");
}

.slide2{
	background-image: url("../img/bg2.jpg");
}

.slide3{
	background-image: url("../img/bg3.jpg");
}

.slide4{
	background-image: url("../img/bg4.jpg");
}

.button{
	position: absolute;
	width: 40px;
	height: 80px;
	left:0;
	top:50%;
	margin-top: -40px;
	background:url(../img/arrow.png) no-repeat center center;
}

.button:hover{
	background-color: #333;
	opacity: 0.8; /*透明度*/
	filter: alpha(opacity=80); /*兼容浏览器*/
}

.prev{
	transform: rotate(180deg);
}

.next{
	left: auto;
	right: 0;
}

.dots{
	position: absolute;
	bottom:24px;
	right: 250px;
	text-align:center;
}

.dots span{
	display: inline-block;
	width: 12px;
	height: 12px;
	line-height: 12px;
	border-radius: 50%;
	background-color:rgba(7,17,27,0.4);
	box-shadow: 0 0 0 2px rgba(255,255,255,0.8) inset;
	margin-left: 8px;
}

.dots span.active{
	box-shadow:  0 0 0 2px rgba(7,17,27,0.4) inset;
	background-color: #fff;
}